version: '3.8'


services:
  db:
    image: postgres:15-alpine
    container_name: hospital_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  adminer:
    image: adminer
    container_name: hospital_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data: